.bg{
    height: 94vh;
    width: 92rem;
    background-color: aqua;
    padding: 10px;
    /*border: 2px solid black;*/
}
.img{
    float: right;
    margin-right: 30px;
    margin-top: 0;
}

.continer{
    width: 250px;
    height: 400px;
    background-color: #000;
}
.float{
    float: right;
}
.red{
    background-color: maroon;
    width: 250px;
    height: 300px;
}
.blue{
    background-color: blue;
    width: 250px;
    height: 200px;
}
.one{
    background-color: red;
    width: 140px;
    height: 299px;
    border: 5px solid black;
}
.two{
    background-color: white;
    width: 90px;
    height: 120px;
    border: 5px solid black;
}
.three{
    background-color: white;
    width: 90px;
    height: 160px;
    border: 5px solid black;
    border-top-width: 14px;
}
.four{
    background-color: white;
    width: 25px;
    height: 35px;
    border: 5px solid black;
}
.five{
    background-color: yellow;
    width: 25px;
    height: 35px;
    border: 5px solid black;
}
.six{
    background-color: white;
    width: 107px;
    height: 80px;
    border: 5px solid black;
    border-right-width: 2px;
    border-left-width: 2px;
}
.seven{
    background-color: blue;
    width: 91px;
    height: 80px;
    border: 5px solid black;
    border-right-width: 8px;
}